.wrapper--enter {
  width: 90px !important;
}

.wrapper--enter-active,
.wrapper--enter-done {
  width: 300px !important;
  transition: width 400ms;
}

.wrapper--exit {
  width: 300px !important;
}

.wrapper--exit-active,
.wrapper--exit-done {
  width: 90px !important;
  transition: width 400ms;
}

.dialog--enter form {
  transform: translateX(-50vw);
}

.dialog--enter-active form {
  transform: translateX(0);
  transition: transform 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.dialog--exit form {
  transform: translateX(0);
}

.dialog--exit-active form {
  transform: translateX(50vw);
  transition: transform 500ms cubic-bezier(0.64, 0, 0.78, 0);
}
